* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #060606;
  /* Add a dark overlay=στρώση to the background image so that the text can be easily read. */
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../img/background-min.jpeg);
  /* The background-position property sets the starting position of a background image.
   * By default, a background-image is placed at the top-left corner of an element, and
   * repeated both vertically and horizontally.
   */
  background-position: center center;
  background-repeat: no-repeat;
  /* cover: Scale the background image to be as large as possible so that the background area
   * is completely covered by the background image. Some parts of the background image may
   * not be in view within the background positioning area
   */
  background-size: cover;
  color: #F2F7FF;                                            /* white color */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1;
}

body, h1, ul {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 25vh;
}

h1, p {
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;;
  font-size: 5rem;
}

p {
  font-size: 1.2rem;
}

/**************************************
ICONS
***************************************/
.icon {
  fill: #F2F7FF;
  height: 3rem;
  margin: 0.5rem;
  width: 3rem;
}

/**************************************
CONTACT
***************************************/
.contact ul {
  list-style-type: none;
  text-align: center;
}

.contact ul li {
  display: inline-block;
}

.mail a {
  color: #F2F7FF;
  font-size: 1.2rem;
  text-decoration: none;
}

.mail a:hover, .footer a:hover {
  text-decoration: underline;
}

/**************************************
FOOTER
***************************************/
.footer {
  bottom: 5px;
  position: absolute;
  width: 100%;
}

.footer small {
  font-size: 12px;
}

.footer a {
  color: #F2F7FF;
  text-decoration: none;
}

/**************************************
MEDIA QUERIS
***************************************/
@media only screen and (max-width: 543px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 418px) {
  h1 {
    font-size: 2.5rem;
  }
}
